<style>
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid burlywood;
  }

  .header__title {
    margin-bottom: 0;
    font-size: 48px;
    font-family: monospace;
    color: rgb(150, 100, 30);
  }

  .header__description {
    font-size: 36px;
    font-family: monospace;
    color: rgb(150, 100, 30);
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
</style>

<header class="header">
  <h1 class="header__title">Angular Calculator</h1>

  <p class="header__description">
    An app that features a simple calculator and is made using Angular.
  </p>
</header>

<main class="main">
  <router-outlet />
</main>
